
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HOLA</title>
</head>
<body>
    <div> <textarea id="TextArea1" rows="2" cols="20">HOLA PAPUS COMO ESTAN</textarea>
    </div>
</body>
</html>
