
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HOLA</title>
</head>
<body>
    <div>
    <center><h3>hola a todos </h3></center>
    <input id="Text1" type="text" />
    <input type="submit" />Enviar
    <img src="" alt="" />
        lll
    </div>
</body>
</html>
